<div class="card mb-3">
  <a href="<%= update_path(update) %>"><img src='<%= update.upload %>' class="card-img-top"></a>
  <div class="card-block">
    <p class="card-text"><%= update.content %></p>
    <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(update.created_at) %> ago</small></p>
    <% if member_signed_in? %>
      <%= form_for [update, Like.new] do |f| %>
        <%= f.hidden_field :update_id, value: update.id %>
        <%= f.hidden_field :member_id, value: current_member.id %>
        <%= f.submit pluralize(update.likes.count, 'Like'), class: "btn btn-secondary" %>
      <% end %>
    <% end %>
    <%= link_to pluralize(update.comments.count, 'Comment'), update, class: "btn btn-secondary" %>
  </div>
</div>