<%= image_tag @update.upload %>
<p>
  <%= @update.content %>
</p>
<p>
  <small>Posted <%= time_ago_in_words(@update.created_at) %> | <%= link_to('Back to Updates', updates_path) %></small>
</p>

<p>
  <%= pluralize(@update.comments.count, "Comment") %>
</p>

<% if current_user %>
  <p>
    <%= form_for [@update, Like.new] do |f| %>
      <%= f.hidden_field :update_id, value: @update.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit pluralize(@update.likes.count, 'Like') %>
    <% end %>
  </p>
<% end %>

<h2>Comments</h2>
<% if current_user %>
  <%= form_for [@update, Comment.new] do |f| %>
    <%= f.label :content, 'Leave a comment' %>
    <%= f.text_area :content %>
    <%= f.hidden_field :update_id, value: @update.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'Add Comment' %>
  <% end %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @update.comments) %>
</ul>